.article-head {
  max-width: 50rem;
  margin: 2rem auto;
}

.article-breadcrumb {
  margin: 1rem 0rem 3rem;
}

.article-categories {
  margin: 1.5rem 0rem;
}

.article-media {
  max-width: 65rem;
  margin: 2rem auto;
}

.article-content {
  max-width: 50rem;
  margin: 2rem auto;
}

.article-content img {
  display: block;
  max-width: 100%;
  margin: 1rem auto;
}

.article-inner blockquote {
  margin: 1.5rem 0rem;
  color: var(--color-gray-regular);
  padding-left: 1rem;
  border-left: 3px solid var(--color-secondary);
  @mixin blockquote;
}

.article-inner blockquote p,
.article-inner blockquote h3,
.article-inner blockquote h4 {
  color: var(--color-gray-regular);
}

.article-inner .lead {
  @mixin eyebrow;
}

.article-inner ol,
.article-inner ul {
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.article-inner p {
  line-height: 1.3333;
  margin-bottom: .5rem;
}

.article-inner iframe {
  width: 100%;
  margin: 1rem 0;
}

.article-inner h1,
.article-inner h2,
.article-inner h3 {
  margin-bottom: 1.5rem;
}

.article-inner h4,
.article-inner h5,
.article-inner h6 {
  margin-bottom: 1rem;
}

.article-inner h6 {
  color: var(--color-gray-regular);
  text-transform: uppercase;
}