.category-group {
  flex-wrap: wrap;
  justify-self: center;
}

.post-categories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.post-categories li {
  text-transform: uppercase;
  display: inline-block;
  margin-right: .5rem;
  transition: all .2s ease-in;
}

.post-categories li:not(:first-child) a {
  color: var(--color-secondary);
}

.post-categories li:not(:first-child) a:hover {
  color: var(--color-secondary-darker);
}

.category-head {
  margin: 2rem 0rem 3rem;
}

.category-head h4 {
  margin-bottom: 1rem;
}

.categories-content,
.search-content {
  max-width: 50rem;
  margin: 0 auto;
}