.category-group {
  justify-self: center;
}

.post-categories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.post-categories li {
  text-transform: uppercase;
  display: inline-block;
  margin-right: 1.5rem;
  transition: all .2s ease-in;
}

.category-head {
  margin: 2rem 0rem 3rem;
}

.category-head h4 {
  margin-bottom: 1rem;
}

.categories-content {
  max-width: 50rem;
  margin: 0 auto;
}