@font-face {
  font-family: 'Muli';
  src:  url('./fonts/Muli-Regular.ttf'),
        url('./fonts/Muli-Italic.ttf'),
        url('./fonts/Muli-Bold.ttf'),
        url('./fonts/Muli-BoldItalic.ttf');
}

@font-face {
  font-family: 'Source Sans Pro';
  src:  url('./fonts/SourceSansPro-Regular.ttf'),
        url('./fonts/SourceSansPro-Italic.ttf'),
        url('./fonts/SourceSansPro-Bold.ttf'),
        url('./fonts/SourceSansPro-BoldItalic.ttf');
}

@font-face{
  font-family:"Material Design Icons";
  src:  url("./fonts/materialdesignicons-webfont.eot"),
        url("./fonts/materialdesignicons-webfont.eot?#iefix") format("embedded-opentype"),
        url("./fonts/materialdesignicons-webfont.woff2") format("woff2"),
        url("./fonts/materialdesignicons-webfont.woff") format("woff"),
        url("./fonts/materialdesignicons-webfont.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}