.footer {
  padding: 2rem .5rem;
  background-color: var(--color-gray-light);
}

.footer-brand {
  margin-bottom: 2rem;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.footer h4 {
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.footer-copyrights {
  padding: .5rem 0;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--color-gray-dark);
}

.footer-copyrights h6 {
  color: var(--color-light);
}