html,
body {
	margin: 0;
	padding: 0;
  min-height: 100%;
  font-size: 16px;
}

body {
	font-size-adjust: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	font-family: var(--font-text);
	font-size: var(--size-text-mobile);
	line-height: var(--lineheight-text-mobile);
	padding-top: var(--padding-top-body-mobile);
	color: var(--color-gray-medium);
	box-sizing: border-box;

	@media (--screen-lg) {
		font-size: var(--size-text-desktop);
		line-height: var(--lineheight-text-desktop);
		padding-top: var(--padding-top-body-desktop);
	}
}

* {
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}

	&::selection {
		background: var(--color-dark);
		color: var(--color-light);
	}
}

.container {
  max-width: 95%;
  padding: 0% 2.5%;
}

a,
button {
	cursor: pointer;
	outline: none;
	text-decoration: none;
	transition: all 0.3s ease-in;
}

a {
	color: var(--color-primary);

	@media (hover: hover) {
		&:hover {
			color: var(--color-primary-dark);
		}
	}
}

figure {
	margin: 0;
}

hr {
	border: none;
	border-bottom: solid 1px var(--color-gray-light);
}

fieldset {
	appearance: none;
	border: none;
}

img,
svg {
	transition: all 0.3s ease;

	& * {
		transition: all 0.3s ease;
	}
}

img {
	display: inline-block;
	max-width: 100%;
	width: auto;
	height: auto;
}

strong,
b {
	font-weight: 700;
	color: var(--color-primary);
}

small {
	@mixin small;
}

.small-txt {
	@mixin small;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@mixin heading;
}

h1 {
  @mixin h1;
}

h2 {
  @mixin h2;
}

h3 {
	@mixin h3;
}

h4 {
	@mixin h4;
}

h5 {
	@mixin h5;
}

h6 {
	@mixin h6;
}

p {
	@mixin text;
}

.reconta-divider {
  border-bottom: 1px solid var(--color-primary);
  width: 100%;
  margin: 0;
}

.reconta-divider:after {
  content:"";
  display: block;
  border-bottom: 3px solid var(--color-primary);
  width: 95px;
}

.image img {
  object-fit: cover;
}

.search-form {
  position: fixed;
  z-index: 5;
  top: 70px;
  width: 100%;
  @mixin boxshadowHigh;
}

.search-form .search-box {
  display: none;
  opacity: 0;
  padding: 1rem;
  transition: all 0.2s ease-in;
}

.search-form.is-open .search-box  {
  opacity: 1;
  display: flex;
  justify-content: center;
  height: 100%;
  @mixin gradientDefault;
}

.search-field {
  display: block;
  flex-grow: 2;
  padding: .5rem;
  width: 100%;
  align-self: center;
  color: var(--color-light);
  background-color: transparent;
  border: 0px;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--color-gray-light);
}

.search-submit {
  display: block;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: .5rem;
  color: var(--color-gray-light);
}

.submit-text {
  height: 100%;
}