.navbar {
  @mixin boxshadowLow;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
}

.navbar-item {
  padding: .25rem .5rem;
}

.navbar-brand {
  align-items: center;
  justify-content: center;
  flex-grow: 2;
}

.navbar-noticias {
  min-width: 56px;
}

.navbar-noticias,
.search-container {
  padding: .5rem;
  color: var(--color-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-noticias .mdi-comment-outline {
  margin-right: .25rem;
}

.noticias-menu {
  text-transform: uppercase;
  font-size: 1rem;
}

.navbar-menu {
  display: none;
}

.navbar-menu.is-active {
  display: block;
}

#navbarNavDropdown {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: -3px;
  background-color: var(--color-light);
  height: 100vh;
  padding: 1.5rem 2rem;
}

.menu-suspenso {
  width: 50vh;
  @mixin boxshadowLow;
}

.menu-suspenso-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.menu-group, .menu-social-group {
  margin-bottom: 1.5rem;
}

.navbar-search {
  @mixin gradientDefault;
  border-radius: 4px;
  color: var(--color-light);
  padding: 0.15rem 0.65rem;
  text-align: center;
  display: flex;
  align-content: center;
  align-self: center;
}

.navbar-search .mdi-magnify::before {
  line-height: auto;
}