.navbar {
  @mixin boxshadowHigh;
  display: flex;
  justify-content: space-between;
  padding: .5rem 2.5%;
  margin-bottom: 5rem;
}

.navbar-item {
  padding: .25rem 2.5%;
}

.navbar-brand {
  align-items: center;
  justify-content: center;
  flex-grow: 2;
}

.custom-logo {
  width: 125px;
  height: 100%;

  @media (--screen-md) {
    width: 100%;
    max-height: 75px !important;
    padding: 1rem 0rem;
  }
}

.footer .footer-brand {
  align-items: left;
}

.navbar-noticias {
  min-width: 56px;
}

.navbar-noticias,
.search-container {
  padding: .5rem;
  color: var(--color-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-noticias .mdi-comment-outline {
  margin-right: .25rem;
}

.menu-written {
  display: flex;
  align-items: center;
}

.noticias-menu {
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in-out;
}

.navbar-menu.is-active {
  left: 0;
  opacity: 1;
  visibility: visible;
}

#navbarNavDropdown {
  position: absolute;
  left: -300px;
  @mixin boxshadowHigh;
}

#navbarNavDropdown.is-active {
  z-index: 3;
  top: 0px;
  left: -3px;
  background-color: var(--color-light);
  height: 100vh;
  padding: .5rem 2.5%;
}

.menu-suspenso {
  width: 50vh;
}

.menu-section {
  margin-bottom: 1.5rem;
}

.menu-section h3{
  color: var(--color-primary);
}

.menu-suspenso-content {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  height: 100%;
}

.menu-suspenso-outside {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0,0,0,0.15);
}

.menu-suspenso-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.menu-group {
  margin-bottom: 3rem;
}

.menu-social-group {
  margin-bottom: 3rem;
}

.menu-social-group .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar-search {
  @mixin gradientDefault;
  border-radius: 4px;
  color: var(--color-light);
  padding: 0.15rem 0.65rem;
  text-align: center;
  display: flex;
  align-content: center;
  align-self: center;
}

.search-form {
  position: fixed;
  z-index: 5;
  top: 100px;
  width: 100%;
  @mixin boxshadowLow;
}

.search-form .search-box {
  display: flex;
  justify-content: center;
  height: 0px;
  @mixin gradientDefault;
  visibility: hidden;
  opacity: 0;
  transition: all .1s ease-in;
}

.search-form.is-open .search-box  {
  height: 100%;
  padding: 1rem 2rem;
  visibility: visible;
  opacity: 1;
}

.search-field {
  display: block;
  flex-grow: 2;
  padding: .5rem;
  width: 100%;
  align-self: center;
  color: var(--color-light);
  background-color: transparent;
  border: 0px;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--color-gray-light);
}

.search-submit {
  display: block;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: .5rem 2rem;
  color: var(--color-gray-light);
}

.navbar-search .mdi-magnify::before {
  line-height: auto;
}