.meta-group {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.share-box {
  display: inline-flex;
  padding: .25rem;
  background-color: var(--color-light);
}

.share-tag .share-box {
  flex-direction: column;
  padding: .5rem;
}


.share-box a {
  color: var(--color-gray-medium);
  padding: .25rem .5rem;
  transition: all .2s ease-in;
}

.share-box a:hover,
.share-box a:focus {
  color: var(--color-primary);
}

.is-fixed {
  position: sticky;
  height: 100%;
  float: none;
  top: 72px;
}